<nav class="nav-menu">
    <ul>
        <li>
            <a href="/" class="nav-link">ARTICLE PORTAL</a>
        </li>
    </ul>
</nav>

<style>
    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }

    .nav-menu {
        background-color: Black;
        padding: 15px 0;
        border-bottom: 1px solid #ccc;
        text-align: center; 
        align-content:center;
        height:150px;
    }

        .nav-menu ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: inline-block;
        }

        .nav-menu li {
            display: inline;
        }

    .nav-link {
        text-decoration: none;
        color: red;
        font-size: 30px;
        font-weight: bold;
    }

        .nav-link:hover {
            text-decoration: underline;
            color:lightcoral;
        }
</style>
