@page "/article/{id:int}"
@using ArticlePortal.Model
@inject FetchDataServices DataService

<h3>Article Details</h3>

@if (Article == null)
{
    <p>Loading...</p>
}
else
{
    <h4>@Article.Title</h4>
    <p>@Article.Summary</p>
    <p>@Article.FullText</p>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private Article? Article;

    protected override async Task OnInitializedAsync()
    {
        Article = await DataService.GetArticleByIdAsync(Id);
    }
}
